.cm-FieldCollection {
    display: flex;
    flex-direction: column;

    > .cm-Field + .cm-Field {
        margin-top: 12px;
    }

    > .cm-FieldGroup + .cm-FieldGroup {
        margin-top: 36px;
    }
}