.asa-PageHeader {
    padding: 12px;
    display: flex;
    flex-direction: row!important;
    justify-content: space-between;
    align-items: center;

    & &__title {
        color: #ffffff;
        margin-right: 24px;
    }
}