.cm-FieldGroup {
    @import '../../../../scss/variables/colors';

    > .cm-Row {
        align-items: unset;
    }

    &__title {
        font-weight: 600;
        flex: 1;
        font-size: 1.3rem;
        color: $color-medium-grey;
    }

    &__content {
        padding-top: 12px;
        flex: 5;
        margin-left: 24px;

        > * + * {
            margin-top: 12px;
        }
    }
}