.cm-BreadCrumb {
    @import '../../../../scss/variables/colors';

    font-size: 18px;
    font-weight: 400;
    position: relative;

    .cm-TextLink {
        color: $color-dark-grey;
    }

    .cm-Loader {
        height: 20px;
        width: 20px;
        top: 30%;
        transform: translateX(-50%);
    }
}